// To avoid reconfig
projectDir="/mnt/2T/Insync/ONEDRIVE/ONE_OBSIDIAN/GITS_WORK/cgMLST_tree"
workDir = "/mnt/2T/NF_WORK/proficiency"
singularity.libraryDir="/mnt/2T/NF_LIBRARY" 
singularity.cacheDir="/mnt/2T/NF_LIBRARY" 
conda_envs="/home/evezeyl/anaconda3/envs"
conda.enabled = true

// INCLUDE CONFIGS  
// Local profile 
includeConfig './local_profile.nf'
// Load config for module-specific options
includeConfig './proficiency_nextflow.config'
includeConfig './proficency_processes_conda.config'