// params to declare 
params {
    input="/mnt/2T/Lm_proficiency_2022_DB/input"
    adapters="all_illumina"
    krakenDB="/cluster/shared/biobases/classification_dbs/minikraken_2_8GB_20200312"
    confindrDB=""

    // shovill params
    depth = 100
    gsize = "2944528" 
    minlen = 0
    assembler = "spades"
    trim = ""

    //checkm params - the data need to be ready - taxonomy
    checkmDB = "" 

    //MLST
    mlst_scheme = "lmonocytogenes_MLST_pasteur"
    // SEROTYPE as MLST 
    serotype_scheme = ""



}

// Define profiles
// Load config for module-specific options
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

// Define variables to prevent local R libraries from conflicting with the container
env {
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

// Manifest
manifest {
    name            = 'NorwegianVeterinaryInstitute/?'
    author          = 'Eve Fiskebeck'
    homePage        = 'https://github.com/NorwegianVeterinaryInstitute/ALPPACA'
    description     = 'Proficiency test Listeria monocytogenes'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.6'
    version         = '2.0.0'
}