// profficency_processes.config

process {
    withName: KRAKEN2 {
        conda = "${conda_envs}/kraken2"
        }
    withName: FASTQC {
    conda = "${conda_envs}/fastqc"
    }
    withName: MULTIQC {
        conda = "${conda_envs}/multiqc"
        }
    withName: CONFINDR {
        conda = "${conda_envs}/confindr"
        }
    withName: SHOWVILL {
        conda = "${conda_envs}/showvill"
        }
    withName: QUAST {
        conda = "${conda_envs}/quast"
        }
    withName: CHECKM {
        conda = "${conda_envs}/checkm"
        }
    // might require also with samtools if not there
    withName: MAPPING {
        conda = "${conda_envs}/bwa"
        }
    withName: QUALIMAP {
        conda = "${conda_envs}/qualimap"
        }
    withName: MLST {
        conda = "${conda_envs}/mlst"
        }
    withName: SEROMLST {
        conda = "${conda_envs}/mlst"
        }
}
